.venv/

# Python cache
__pycache__/
*.pyc

# Cloned repositories from users
repos/

# Persisted LlamaIndex storage
storage/

# Environment variables file
.env

# Streamlit config
.streamlit/

# to put all code in one thing
repoinsightai.ipynb
